div.bgorigin1 {
    background-origin: border-box;
}

div.bgorigin2 {
    background-origin: padding-box;
}

div.bgorigin3 {
    background-origin: content-box;
}

div.bgorigin4 {
    background-origin: border-box, padding-box;
}

div.bgorigin5 {
    background-origin: border-box, content-box;
}

div.bgorigin6 {
    background-origin: padding-box, border-box;
}

div.bgorigin7 {
    background-origin: padding-box, content-box;
}

div.bgorigin8 {
    background-origin: content-box, border-box;
}

div.bgorigin9 {
    background-origin: content-box, padding-box;
}

div.bgorigin10 {
    background-origin: border-box, border-box, padding-box;
}

div.bgorigin11 {
    background-origin: border-box, border-box, content-box;
}

div.bgorigin12 {
    background-origin: padding-box, padding-box, border-box;
}

div.bgorigin13 {
    background-origin: padding-box, padding-box, content-box;
}

div.bgorigin14 {
    background-origin: content-box, content-box, border-box;
}

div.bgorigin15 {
    background-origin: content-box, content-box, padding-box;
}

div.bgorigin16 {
    background-origin: border-box, padding-box, border-box, padding-box;
}

div.bgorigin17 {
    background-origin: border-box, content-box, border-box, content-box;
}

div.bgorigin18 {
    background-origin: padding-box, border-box, padding-box, border-box;
}

div.bgorigin19 {
    background-origin: padding-box, content-box, padding-box, content-box;
}

div.bgorigin20 {
    background-origin: content-box, border-box, content-box, border-box;
}

div.bgorigin21 {
    background-origin: content-box, padding-box, content-box, padding-box;
}

div.bgorigin22 {
    background-origin: border-box, padding-box, padding-box;
}

div.bgorigin23 {
    background-origin: border-box, content-box, content-box;
}

div.bgorigin24 {
    background-origin: padding-box, border-box, border-box;
}

div.bgorigin25 {
    background-origin: padding-box, content-box, content-box;
}

div.bgorigin26 {
    background-origin: content-box, border-box, border-box;
}

div.bgorigin27 {
    background-origin: content-box, padding-box, padding-box;
}