div.shadow-one {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

div.shadow-two {
    -moz-box-shadow: 10px 10px;
    -webkit-box-shadow: 10px 10px;
    box-shadow: 10px 10px;
}

div.shadow-three {
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
}

div.shadow-four {
    -moz-box-shadow: inset 2px 2px 2px 2px black;
    -webkit-box-shadow: inset 2px 2px 2px 2px black;
    box-shadow: inset 2px 2px 2px 2px black;
}

div.shadow-five {
    -moz-box-shadow: 10px 10px #888, -10px -10px #f4f4f4, 0px 0px 5px 5px #cc6600;
    -webkit-box-shadow: 10px 10px #888, -10px -10px #f4f4f4, 0px 0px 5px 5px #cc6600;
    box-shadow: 10px 10px #888, -10px -10px #f4f4f4, 0px 0px 5px 5px #cc6600;
}