div.colwidth-one {
    -webkit-column-width: auto;
    column-width: auto;
}

div.colwidth-two {
    -webkit-column-width: 5px;
    column-width: 5px;
}

div.colwidth-four {
    -webkit-column-width: 5em;
    column-width: 5em;
}