div.transform-origin1 {
    -ms-transform-origin: 60% 100%;
    transform-origin: 60% 100%;
}

div.transform-origin2 {
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

div.transform-origin3 {
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

div.transform-origin4 {
    -ms-transform-origin: -10em -30em;
    transform-origin: -10em -30em;
}

div.transform-origin5 {
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

div.transform-origin6 {
    -ms-transform-origin: 100% -30%;
    transform-origin: 100% -30%;
}

div.transform-origin7 {
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}

div.transform-origin8 {
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

div.transform-origin9 {
    -ms-transform-origin: left top;
    transform-origin: left top;
}

div.transform-origin10 {
    -ms-transform-origin: left center;
    transform-origin: left center;
}

div.transform-origin11 {
    -ms-transform-origin: left bottom;
    transform-origin: left bottom;
}

div.transform-origin12 {
    -ms-transform-origin: left 25%;
    transform-origin: left 25%;
}

div.transform-origin13 {
    -ms-transform-origin: left 5em;
    transform-origin: left 5em;
}

div.transform-origin14 {
    -ms-transform-origin: center top;
    transform-origin: center top;
}

div.transform-origin15 {
    -ms-transform-origin: center center;
    transform-origin: center center;
}

div.transform-origin16 {
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
}

div.transform-origin17 {
    -ms-transform-origin: center 25%;
    transform-origin: center 25%;
}

div.transform-origin18 {
    -ms-transform-origin: center 5em;
    transform-origin: center 5em;
}

div.transform-origin19 {
    -ms-transform-origin: right top;
    transform-origin: right top;
}

div.transform-origin20 {
    -ms-transform-origin: right center;
    transform-origin: right center;
}

div.transform-origin21 {
    -ms-transform-origin: right bottom;
    transform-origin: right bottom;
}

div.transform-origin22 {
    -ms-transform-origin: right 25%;
    transform-origin: right 25%;
}

div.transform-origin23 {
    -ms-transform-origin: right 5em;
    transform-origin: right 5em;
}

div.transform-origin24 {
    -ms-transform-origin: 25% top;
    transform-origin: 25% top;
}

div.transform-origin25 {
    -ms-transform-origin: 25% center;
    transform-origin: 25% center;
}

div.transform-origin26 {
    -ms-transform-origin: 25% bottom;
    transform-origin: 25% bottom;
}

div.transform-origin27 {
    -ms-transform-origin: 25% 25%;
    transform-origin: 25% 25%;
}

div.transform-origin28 {
    -ms-transform-origin: 25% 5em;
    transform-origin: 25% 5em;
}

div.transform-origin29 {
    -ms-transform-origin: 5em top;
    transform-origin: 5em top;
}

div.transform-origin30 {
    -ms-transform-origin: 5em center;
    transform-origin: 5em center;
}

div.transform-origin31 {
    -ms-transform-origin: 5em bottom;
    transform-origin: 5em bottom;
}

div.transform-origin32 {
    -ms-transform-origin: 5em 25%;
    transform-origin: 5em 25%;
}

div.transform-origin33 {
    -ms-transform-origin: 5em 5em;
    transform-origin: 5em 5em;
}

div.transform-origin34 {
    -ms-transform-origin: left;
    transform-origin: left;
}

div.transform-origin35 {
    -ms-transform-origin: center;
    transform-origin: center;
}

div.transform-origin36 {
    -ms-transform-origin: right;
    transform-origin: right;
}

div.transform-origin37 {
    -ms-transform-origin: top;
    transform-origin: top;
}

div.transform-origin38 {
    -ms-transform-origin: bottom;
    transform-origin: bottom;
}