div.transition1 {
    -ms-transition-delay: 5s;
    transition-delay: 5s;
}

div.transition2 {
    -ms-transition-delay: 500ms;
    transition-delay: 500ms;
}

div.transition3 {
    -ms-transition-delay: .5s;
    transition-delay: .5s;
}

div.transition4 {
    -ms-transition-delay: .25s;
    transition-delay: .25s;
}

div.transition5 {
    -ms-transition-delay: 15s;
    transition-delay: 15s;
}

div.transition6 {
    -ms-transition-delay: 5.5s;
    transition-delay: 5.5s;
}

div.transition7 {
    -ms-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

div.transition8 {
    -ms-transition-delay: 1500ms;
    transition-delay: 1500ms;
}

div.transition9 {
    -ms-transition-delay: 5s, 500ms, .5s;
    transition-delay: 5s, 500ms, .5s;
}

div.transition10 {
    -ms-transition-delay: .25s, 15s;
    transition-delay: .25s, 15s;
}

div.transition11 {
    -ms-transition-delay: 5.5s, 0.5s, 1500ms, 5s;
    transition-delay: 5.5s, 0.5s, 1500ms, 5s;
}

div.transition12 {
    -ms-transition-delay: 500ms, .5s;
    transition-delay: 500ms, .5s;
}

div.transition13 {
    -ms-transition-delay: .25s, 15s, 5.5s;
    transition-delay: .25s, 15s, 5.5s;
}

div.transition14 {
    -ms-transition-delay: 0.5s, 1500ms;
    transition-delay: 0.5s, 1500ms;
}

div.transition15 {
    -ms-transition-delay: 5s, 500ms;
    transition-delay: 5s, 500ms;
}

div.transition16 {
    -ms-transition-delay: .5s, .25s;
    transition-delay: .5s, .25s;
}