div.gradient1 {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#063053',endColorstr='#395873');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#063053',endColorstr='#395873')";
	background-image: -ms-linear-gradient(#063053,#395873,#5c7c99);
    background-image: linear-gradient(#063053,#395873,#5c7c99);
}

div.gradient2 {
	background-image: -ms-linear-gradient(45deg,#063053 0%,#395873 100%);
	background-image: linear-gradient(45deg,#063053,#395873);
}

div.gradient3 {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#063053', endColorstr='#395873');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#063053', endColorstr='#395873')";
	background-image: -ms-linear-gradient(red,green,blue,purple,orange);
	background-image: linear-gradient(red,green,blue,purple,orange);
}

div.gradient4 {
	background-image: radial-gradient(orange, red);
}

div.gradient5 {
	background-image: radial-gradient(red,green,blue,purple,orange);
}

div.gradient6 {
	background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
}

div.gradient7 {
	background-image: repeating-linear-gradient(-45deg, green, red 5px, white 5px, #ccc 10px);
}

div.gradient8 {
    background-image: -ms-radial-gradient(center 45deg, circle closest-side, orange 0%, red 100%);
    background-image: radial-gradient(center 45deg, circle closest-side, orange 0%, red 100%);
}

div.gradient9 {
    background: -ms-radial-gradient(45px 45px 45deg, circle cover, aqua 0%, rgba(0, 0, 255, 0) 100%, blue 95%);
    background: radial-gradient(45px 45px 45deg, circle cover, aqua 0%, rgba(0, 0, 255, 0) 100%, blue 95%);
}