div.transition1 {
    -webkit-transition-duration: 5s;
    transition-duration: 5s;
}

div.transition2 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

div.transition3 {
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
}

div.transition4 {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

div.transition5 {
    -webkit-transition-duration: 15s;
    transition-duration: 15s;
}

div.transition6 {
    -webkit-transition-duration: 5.5s;
    transition-duration: 5.5s;
}

div.transition7 {
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

div.transition8 {
    -webkit-transition-duration: 1500ms;
    transition-duration: 1500ms;
}

div.transition9 {
    -webkit-transition-duration: 5s, 500ms, .5s;
    transition-duration: 5s, 500ms, .5s;
}

div.transition10 {
    -webkit-transition-duration: .25s, 15s;
    transition-duration: .25s, 15s;
}

div.transition11 {
    -webkit-transition-duration: 5.5s, 0.5s, 1500ms, 5s;
    transition-duration: 5.5s, 0.5s, 1500ms, 5s;
}

div.transition12 {
    -webkit-transition-duration: 500ms, .5s;
    transition-duration: 500ms, .5s;
}

div.transition13 {
    -webkit-transition-duration: .25s, 15s, 5.5s;
    transition-duration: .25s, 15s, 5.5s;
}

div.transition14 {
    -webkit-transition-duration: 0.5s, 1500ms;
    transition-duration: 0.5s, 1500ms;
}

div.transition15 {
    -webkit-transition-duration: 5s, 500ms;
    transition-duration: 5s, 500ms;
}

div.transition16 {
    -webkit-transition-duration: .5s, .25s;
    transition-duration: .5s, .25s;
}