div.transition1 {
    -ms-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
}

div.transition2 {
    -ms-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

div.transition3 {
    -ms-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

div.transition4 {
    -ms-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

div.transition5 {
    -ms-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
}

div.transition6 {
    -ms-transition-timing-function: cubic-bezier(1, 2, 3, 4);
    -moz-transition-timing-function: cubic-bezier(1, 2, 3, 4);
    -o-transition-timing-function: cubic-bezier(1, 2, 3, 4);
    -webkit-transition-timing-function: cubic-bezier(1, 2, 3, 4);
    transition-timing-function: cubic-bezier(1, 2, 3, 4);
}

div.transition7 {
    -ms-transition-timing-function: cubic-bezier(1.5, 2.0, 15, 12);
    -moz-transition-timing-function: cubic-bezier(1.5, 2.0, 15, 12);
    -o-transition-timing-function: cubic-bezier(1.5, 2.0, 15, 12);
    -webkit-transition-timing-function: cubic-bezier(1.5, 2.0, 15, 12);
    transition-timing-function: cubic-bezier(1.5, 2.0, 15, 12);
}

div.transition8 {
    -ms-transition-timing-function: ease, linear;
    -moz-transition-timing-function: ease, linear;
    -o-transition-timing-function: ease, linear;
    -webkit-transition-timing-function: ease, linear;
    transition-timing-function: ease, linear;
}

div.transition9 {
    -ms-transition-timing-function: linear, ease-in-out, linear, ease;
    -moz-transition-timing-function: linear, ease-in-out, linear, ease;
    -o-transition-timing-function: linear, ease-in-out, linear, ease;
    -webkit-transition-timing-function: linear, ease-in-out, linear, ease;
    transition-timing-function: linear, ease-in-out, linear, ease;
}

div.transition10 {
    -ms-transition-timing-function: ease-in, ease-out;
    -moz-transition-timing-function: ease-in, ease-out;
    -o-transition-timing-function: ease-in, ease-out;
    -webkit-transition-timing-function: ease-in, ease-out;
    transition-timing-function: ease-in, ease-out;
}

div.transition11 {
    -ms-transition-timing-function: ease-out, linear, cubic-bezier(1.5, 2.0, 15, 12);
    -moz-transition-timing-function: ease-out, linear, cubic-bezier(1.5, 2.0, 15, 12);
    -o-transition-timing-function: ease-out, linear, cubic-bezier(1.5, 2.0, 15, 12);
    -webkit-transition-timing-function: ease-out, linear, cubic-bezier(1.5, 2.0, 15, 12);
    transition-timing-function: ease-out, linear, cubic-bezier(1.5, 2.0, 15, 12);
}

div.transition12 {
    -ms-transition-timing-function: ease-in-out, ease-in-out;
    -moz-transition-timing-function: ease-in-out, ease-in-out;
    -o-transition-timing-function: ease-in-out, ease-in-out;
    -webkit-transition-timing-function: ease-in-out, ease-in-out;
    transition-timing-function: ease-in-out, ease-in-out;
}

div.transition13 {
    -ms-transition-timing-function: cubic-bezier(1, 2, 3, 4), ease-in, ease-out, cubic-bezier(1, 2, 3, 4), ease;
    -moz-transition-timing-function: cubic-bezier(1, 2, 3, 4), ease-in, ease-out, cubic-bezier(1, 2, 3, 4), ease;
    -o-transition-timing-function: cubic-bezier(1, 2, 3, 4), ease-in, ease-out, cubic-bezier(1, 2, 3, 4), ease;
    -webkit-transition-timing-function: cubic-bezier(1, 2, 3, 4), ease-in, ease-out, cubic-bezier(1, 2, 3, 4), ease;
    transition-timing-function: cubic-bezier(1, 2, 3, 4), ease-in, ease-out, cubic-bezier(1, 2, 3, 4), ease;
}

div.transition14 {
    -ms-transition-timing-function: cubic-bezier(1.5, 2.0, 15, 12), ease;
    -moz-transition-timing-function: cubic-bezier(1.5, 2.0, 15, 12), ease;
    -o-transition-timing-function: cubic-bezier(1.5, 2.0, 15, 12), ease;
    -webkit-transition-timing-function: cubic-bezier(1.5, 2.0, 15, 12), ease;
    transition-timing-function: cubic-bezier(1.5, 2.0, 15, 12), ease;
}

div.transition15 {
    -ms-transition-timing-function: ease, ease-in, ease-out;
    -moz-transition-timing-function: ease, ease-in, ease-out;
    -o-transition-timing-function: ease, ease-in, ease-out;
    -webkit-transition-timing-function: ease, ease-in, ease-out;
    transition-timing-function: ease, ease-in, ease-out;
}

div.transition16 {
    -ms-transition-timing-function: linear, ease-in, ease, cubic-bezier(1, 2, 3, 4);
    -moz-transition-timing-function: linear, ease-in, ease, cubic-bezier(1, 2, 3, 4);
    -o-transition-timing-function: linear, ease-in, ease, cubic-bezier(1, 2, 3, 4);
    -webkit-transition-timing-function: linear, ease-in, ease, cubic-bezier(1, 2, 3, 4);
    transition-timing-function: linear, ease-in, ease, cubic-bezier(1, 2, 3, 4);
}

div.transition17 {
    -ms-transition-timing-function: ease-in, ease-out;
    -moz-transition-timing-function: ease-in, ease-out;
    -o-transition-timing-function: ease-in, ease-out;
    -webkit-transition-timing-function: ease-in, ease-out;
    transition-timing-function: ease-in, ease-out;
}

div.transition18 {
    -ms-transition-timing-function: ease-out, cubic-bezier(1, 2, 3, 4);
    -moz-transition-timing-function: ease-out, cubic-bezier(1, 2, 3, 4);
    -o-transition-timing-function: ease-out, cubic-bezier(1, 2, 3, 4);
    -webkit-transition-timing-function: ease-out, cubic-bezier(1, 2, 3, 4);
    transition-timing-function: ease-out, cubic-bezier(1, 2, 3, 4);
}

div.transition19 {
    -ms-transition-timing-function: ease-in-out, cubic-bezier(1.5, 2.0, 15, 12);
    -moz-transition-timing-function: ease-in-out, cubic-bezier(1.5, 2.0, 15, 12);
    -o-transition-timing-function: ease-in-out, cubic-bezier(1.5, 2.0, 15, 12);
    -webkit-transition-timing-function: ease-in-out, cubic-bezier(1.5, 2.0, 15, 12);
    transition-timing-function: ease-in-out, cubic-bezier(1.5, 2.0, 15, 12);
}

div.transition20 {
    -ms-transition-timing-function: cubic-bezier(1, 2, 3, 4), ease-in-out, ease;
    -moz-transition-timing-function: cubic-bezier(1, 2, 3, 4), ease-in-out, ease;
    -o-transition-timing-function: cubic-bezier(1, 2, 3, 4), ease-in-out, ease;
    -webkit-transition-timing-function: cubic-bezier(1, 2, 3, 4), ease-in-out, ease;
    transition-timing-function: cubic-bezier(1, 2, 3, 4), ease-in-out, ease;
}

div.transition21 {
    -ms-transition-timing-function: cubic-bezier(1.5, 2.0, 15, 12), ease, ease-in;
    -moz-transition-timing-function: cubic-bezier(1.5, 2.0, 15, 12), ease, ease-in;
    -o-transition-timing-function: cubic-bezier(1.5, 2.0, 15, 12), ease, ease-in;
    -webkit-transition-timing-function: cubic-bezier(1.5, 2.0, 15, 12), ease, ease-in;
    transition-timing-function: cubic-bezier(1.5, 2.0, 15, 12), ease, ease-in;
}