/**
 * Semantic.gs for CSSAlly: http://cssally.com/
 */

/* Defaults which you can freely override */

/* Utility function - you should never need to modify this */

/* Set $total-width to 100% for a fluid layout */

/* Uncomment these two lines and the star-hack width/margin lines below to enable sub-pixel fix for IE6 & 7. See http://tylertate.com/blog/2012/01/05/subpixel-rounding.html */
/*
*/

/* The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/ */

/**
 * GRID
 */
body {
    width: 100%;
    *zoom:1;
}

body:before, body:after {
    content:"";
    display:table;
}

body:after {
    clear:both;
}

/**
 * GRID
 */

/* Specify the number of columns and set column and gutter widths */

/**
 * LAYOUT
 */
/* center the contents */
div.center {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

/* header */
header#top {
    display: inline;
    float: left;
    width: 940px;
    margin: 0 10px;
/*
    *width: 939.999999995px;
    *margin: 0 9.999999995px;
*/
    margin-bottom: 1em;
}

/* main and sidebar */
#maincolumn {
    display: inline;
    float: left;
    width: 700px;
    margin: 0 10px;
/*
    *width: 699.999999995px;
    *margin: 0 9.999999995px;
*/
}

#sidebar {
    display: inline;
    float: left;
    width: 220px;
    margin: 0 10px;
/*
    *width: 219.999999995px;
    *margin: 0 9.999999995px;
*/
}