.class1 {
    border: 1px solid red;
    margin: 5px;
}

.class1 .innerClass1 {
    border: 5px dashed blue;
}

.class2 {
    color: #00f;
}

.class2 .innerClass1 {
    font-size: 2em;
}

.class2 .innerClass1 .innerInnerClass1 {
    float: left;
}

.class2 .innerClass2 {
    width: 300px;
}

.class2 .innerClass2:hover {
    text-decoration: none;
}

