div.radius-one {
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.radius-two {
    -moz-border-radius-topleft: 10px 5px;
    -o-border-top-left-radius: 10px 5px;
    -webkit-border-top-left-radius: 10px 5px;
    border-top-left-radius: 10px 5px;
}

div.radius-three {
    -moz-border-radius-topright: 5px;
    -o-border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
}

div.radius-four {
    -moz-border-radius-topleft: 5px;
    -o-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
}

div.radius-five {
    -moz-border-radius-bottomright: 5px;
    -o-border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.radius-six {
    -moz-border-radius-bottomleft: 5px;
    -o-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

div.radius-seven {
    -moz-border-radius-bottomright: 10% 5%;
    -o-border-bottom-right-radius: 10% 5%;
    -webkit-border-bottom-right-radius: 10% 5%;
    border-bottom-right-radius: 10% 5%;
}

div.radius-eight {
    -moz-border-radius-topright: 10px;
    -o-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
}

div.radius-nine {
    -moz-border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
    -o-border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
    -webkit-border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
    border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
}

div.radius-ten {
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

div.radius-eleven {
    -moz-border-radius: 5px 10px / 10px;
    -o-border-radius: 5px 10px / 10px;
    -webkit-border-radius: 5px 10px / 10px;
    border-radius: 5px 10px / 10px;
}