div.colcount-one {
    -moz-column-count: auto;
    -webkit-column-count: auto;
    column-count: auto;
}

div.colcount-two {
    -moz-column-count: 5;
    -webkit-column-count: 5;
    column-count: 5;
}