div.animation1 {
    -ms-animation-duration: 5s;
    animation-duration: 5s;
}

div.animation2 {
    -ms-animation-duration: 500ms;
    animation-duration: 500ms;
}

div.animation3 {
    -ms-animation-duration: .5s;
    animation-duration: .5s;
}

div.animation4 {
    -ms-animation-duration: .25s;
    animation-duration: .25s;
}

div.animation5 {
    -ms-animation-duration: 15s;
    animation-duration: 15s;
}

div.animation6 {
    -ms-animation-duration: 5.5s;
    animation-duration: 5.5s;
}

div.animation7 {
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

div.animation8 {
    -ms-animation-duration: 1500ms;
    animation-duration: 1500ms;
}

div.animation9 {
    -ms-animation-duration: 5s, 500ms, .5s;
    animation-duration: 5s, 500ms, .5s;
}

div.animation10 {
    -ms-animation-duration: .25s, 15s;
    animation-duration: .25s, 15s;
}

div.animation11 {
    -ms-animation-duration: 5.5s, 0.5s, 1500ms, 5s;
    animation-duration: 5.5s, 0.5s, 1500ms, 5s;
}

div.animation12 {
    -ms-animation-duration: 500ms, .5s;
    animation-duration: 500ms, .5s;
}

div.animation13 {
    -ms-animation-duration: .25s, 15s, 5.5s;
    animation-duration: .25s, 15s, 5.5s;
}

div.animation14 {
    -ms-animation-duration: 0.5s, 1500ms;
    animation-duration: 0.5s, 1500ms;
}

div.animation15 {
    -ms-animation-duration: 5s, 500ms;
    animation-duration: 5s, 500ms;
}

div.animation16 {
    -ms-animation-duration: .5s, .25s;
    animation-duration: .5s, .25s;
}