/**
 * Semantic.gs for CSSAlly: http://cssally.com/
 */

/* Defaults which you can freely override */
$column-width = "60px";
$gutter-width = "20px";
$columns = "12";

/* Utility function - you should never need to modify this */
@function gridsystem-width($columns:$columns) {
	@return ($column-width * $columns) + ($gutter-width * $columns);
}

/* Set $total-width to 100% for a fluid layout */
$total-width: gridsystem-width($columns);

/* Uncomment these two lines and the star-hack width/margin lines below to enable sub-pixel fix for IE6 & 7. See http://tylertate.com/blog/2012/01/05/subpixel-rounding.html */
/*
$min-width: 999999;
$correction: 0.5 / $min-width * 100;
*/

/* The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/ *//**
 * GRID
 */
body {
	width: 100%;
	@include clearfix();
}/**
 * GRID
 */

/* Specify the number of columns and set column and gutter widths */
$columns = "12";
$column-width = "60px";
$gutter-width = "20px";

/**
 * LAYOUT
 */
/* center the contents */
div.center {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

/* header */
header#top {
    @include column(12);
    margin-bottom: 1em;
}

/* main and sidebar */
#maincolumn {
    @include column(9);
}

#sidebar {
    @include column(3);
}