div.animation1 {
    -ms-animation-direction: normal;
    animation-direction: normal;
}

div.animation2 {
    -ms-animation-direction: alternate;
    animation-direction: alternate;
}

div.animation3 {
    -ms-animation-direction: normal, normal;
    animation-direction: normal, normal;
}

div.animation4 {
    -ms-animation-direction: normal, normal, alternate;
    animation-direction: normal, normal, alternate;
}

div.animation5 {
    -ms-animation-direction: alternate, normal;
    animation-direction: alternate, normal;
}

div.animation6 {
    -ms-animation-direction: alternate, normal, alternate, normal;
    animation-direction: alternate, normal, alternate, normal;
}