div#test {
    background-color: #ffc;
    background-position: 5px 5px;
    background-repeat: no-repeat;
    border: 1px solid #dedede;
    color: #000;
    margin: 0 auto;
    min-height: 20px;
    padding: 5px;
    text-align: center;
    width: 938px;
}

div#test h1 {
    background-position: top right;
    background-repeat: no-repeat;
    font-size: 150%;
    font-weight: bold;
}

div#test a {
    color: #000 !important;
    font-weight: bold !important;
    text-decoration: underline !important;
}

body {
    background-attachment: scroll;
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 150px;
}